@keyframes pulse {
	0% {
        transform: translate(-50%, -50%) scale(1);
		box-shadow: 0 0 0 0 #263aed79;
	}

	70% {
        transform: translate(-50%, -50%) scale(1.06);
		box-shadow: 0 0 0 15px rgba(238, 0, 111, 0);
	}

	100% {
        transform: translate(-50%, -50%) scale(1);
		box-shadow: 0 0 0 0 rgba(238, 0, 111, 0);
	}
}

@keyframes shine {
	0% {
		box-shadow: 0 0 0 0 #263aed79;
	}

	70% {
		box-shadow: 0 0 0 15px rgba(238, 0, 111, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(238, 0, 111, 0);
	}
}