%container {
    max-width: $desktop;
    margin-left: auto;
    margin-right: auto;
}

%title {
    color: $title-text-color;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.22;
    text-align: center;
}

%section {
    padding-top: 60px;
    padding-bottom: 60px;
}