%container {
    margin-left: auto;
    margin-right: auto;
}

%title {
    margin: 0;

    color: $title-text-color;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.22;
}

%section {
    margin-bottom: 40px;
    padding-left: 120px;
}