$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$background-color: #FFFFFF;
$title-text-color: #000000;
$main-text-color: #565656;
$accent-color: #2639ED;
$accent-text-color: #FFFFFF;
$light-text: #A4A4A4;

$main-font: 'Raleway', sans-serif;