$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$background-color: #FFFFFF;
$title-text-color: #000000;
$main-text-color: #565656;
$accent-color: #2639ED;
$accent-text-color: #FFFFFF;
$light-text: #A4A4A4;
$active-color: #DAE9FF;
$background-blue: #F4F9FF;
$background-yellow: #FFF5DB;
$background-green: #DEFFEE;
$background-pink: #FFF2F8;
$background-purple: #EFF1FF;
$background-rose: #FF007A;

$main-font: 'Raleway', sans-serif;

$transition-time: 250ms;
$transition-behavior: cubic-bezier(0.4, 0, 0.2, 1);