<section class="clients">
    <div class="clients__text-content">
        <h2 class="clients__title">
            Our Clients
        </h2>
        <p class="clients__description">
            Several selected clients, who already believe in our service.
        </p>
    </div>
    <ul class="clients__list">
        <li class="clients__list-item">
            <a href="">
                <svg width="150" height="50">
                    <use href="./images/icons.svg#icon-google-logo"></use>
                </svg>
            </a>
        </li>
        <li class="clients__list-item">
            <a href="">
                <svg width="166" height="50">
                    <use href="./images/icons.svg#icon-airbnb-logo"></use>
                </svg>
            </a>
        </li>
        <li class="clients__list-item">
            <a href="">
                <svg width="166" height="50">
                    <use href="./images/icons.svg#icon-uber-eats-logo"></use>
                </svg>
            </a>
        </li>
        <li class="clients__list-item amazon-icon">
            <a href="">
                <svg width="142" height="60" >
                    <use href="./images/icons.svg#icon-amazon-logo"></use>
                </svg>
            </a>
        </li>
    </ul>
</section>