<section class="clients">
    <h2>
        Our Clients
    </h2>
    <p>
        Several selected clients, who already believe in our service.
    </p>
    <ul>
        <li>
            <a href="">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
    </ul>
</section>