<div class="backdrop js-contact-modal is-hidden">
    <div class="contact-modal">
        <button type="button" class="contact-modal__close-btn js-contact-modal-close">
            <svg class="contact-modal__close-icon" width="28" height="28">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <h3>Fill out the form below, and our managers will contact you!</h3>
        <form action="submit" class="contact-modal__form js-contact-form">
            <input 
                type="text" 
                name="name" 
                id="name" 
                placeholder="Enter your name..." 
                required
                class="contact-modal__input js-contact-form-input"
            />
            <input 
                type="email" 
                name="email" 
                id="email" 
                placeholder="Enter your email address..." 
                required
                class="contact-modal__input js-contact-form-input"
            />
            <textarea 
                class="contact-modal__comment js-contact-form-input" 
                name="comment" 
                id="comment"
                placeholder="Describe your inquiry..." 
                rows="4"
            ></textarea>
            <button type="submit" class="contact-modal__submit-btn">Submit</button>
        </form>
    </div>
</div>