<footer>
    <a href="">
        <svg>
            <use></use>
        </svg>
    </a>
    <p>
        Leading digital agency with solid design and development expertise. We build readymade websites, mobile applications,
        and elaborate online business services.
    </p>

    <ul>
        <li>
            <a href="http://" target="_blank" rel="noopener noreferrer">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="http://" target="_blank" rel="noopener noreferrer">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="http://" target="_blank" rel="noopener noreferrer">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
    </ul>

    <h3>
        What We Do
    </h3>
    <ul>
        <li>Web Design</li>
        <li>App Design</li>
        <li>Social Media Manage</li>
        <li>Market Analysis Project</li>
    </ul>

    <h3>
        Company
    </h3>
    <ul>
        <li>
            <a href="">About Us</a>
        </li>
        <li>
            <a href="">Career</a>
        </li>
        <li>
            <a href="">Become Investor</a>
        </li>
    </ul>

    <h3>
        Support
    </h3>
    <ul>
        <li>
            <a href="">FAQ</a>
        </li>
        <li>
            <a href="">Policy</a>
        </li>
        <li>
            <a href="">Business</a>
        </li>
    </ul>

    <h3>
        Contact
    </h3>
    <ul>
        <li>
            <a href="">WhatsApp</a>
        </li>
        <li>
            <a href="">Support 24</a>
        </li>
    </ul>

    <p>
        Copyright &#169; 2022 Avi Yansah
    </p>
</footer>