<footer class="footer">
    <div class="footer__container">
        <div class="about">
            <a href="./index.html" class="about__logo">
                <svg width="106" height="30">
                    <use href="./images/icons.svg#icon-company-logo"></use>
                </svg>
            </a>
            <p class="about__description">
                Leading digital agency with solid design and development expertise. We build readymade websites, mobile applications,
                and elaborate online business services.
            </p>
            <ul class="about__socials">
                <li class="about__socials-item">
                    <a href="http://" target="_blank" rel="noopener noreferrer" class="about__socials-icon">
                        <svg width="36" height="36">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="about__socials-item">
                    <a href="http://" target="_blank" rel="noopener noreferrer" class="about__socials-icon">
                        <svg width="36" height="36">
                            <use href="./images/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="about__socials-item">
                    <a href="http://" target="_blank" rel="noopener noreferrer" class="about__socials-icon">
                        <svg width="36" height="36">
                            <use href="./images/icons.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__services">
            <h3 class="footer__title">
                What We Do
            </h3>
            <ul class="footer__list">
                <li>Web Design</li>
                <li>App Design</li>
                <li>Social Media Manage</li>
                <li>Market Analysis Project</li>
            </ul>
        </div>
        <div class="footer__company">
            <h3 class="footer__title">
                Company
            </h3>
            <ul class="footer__list">
                <li>
                    <a href="" class="footer__link">About Us</a>
                </li>
                <li>
                    <a href="" class="footer__link">Career</a>
                </li>
                <li>
                    <a href="" class="footer__link">Become Investor</a>
                </li>
            </ul>
        </div>
        <div class="footer__support">
            <h3 class="footer__title">
                Support
            </h3>
            <ul class="footer__list">
                <li>
                    <a href="" class="footer__link">FAQ</a>
                </li>
                <li>
                    <a href="" class="footer__link">Policy</a>
                </li>
                <li>
                    <a href="" class="footer__link">Business</a>
                </li>
            </ul>
        </div>
        <div class="footer__contact">
            <h3 class="footer__title">
                Contact
            </h3>
            <ul class="footer__list">
                <li>
                    <a href="" class="footer__link">WhatsApp</a>
                </li>
                <li>
                    <a href="" class="footer__link">Support 24</a>
                </li>
            </ul>
        </div>
    </div>
    <p class="footer__copyright">
        Copyright &#169; 2022 Avi Yansah
    </p>
</footer>