<header class="header" id="header">
    <nav class="header__nav">
        <a href="./index.html" class="header__logo">
            <svg width="120" height="34">
                <use href="./images/icons.svg#icon-company-logo"></use>
            </svg>
        </a>
        <ul class="header__nav-list">
            <li class="header__list-item">
                <a href="#header" class="header__link">Home</a>
            </li>
            <li class="header__list-item">
                <a href="#whatWeDo" class="header__link">What We Do</a>
            </li>
            <li class="header__list-item">
                <a href="#services" class="header__link">Service</a>
            </li>
            <li class="header__list-item">
                <a href="#project" class="header__link">Project</a>
            </li>
            <li class="header__list-item">
                <a href="#blog" class="header__link">Blog</a>
            </li>
            <li class="header__list-item">
                <a href="#footer" class="header__link">Contact</a>
            </li>
        </ul>
    </nav>
</header>