<header class="header">
    <nav class="header__nav">
        <a href="./index.html" class="header__logo">
            <svg width="120" height="34">
                <use href="./images/icons.svg#icon-company-logo"></use>
            </svg>
        </a>
        <ul class="header__nav-list">
            <li class="header__list-item">
                <a href="">Home</a>
            </li>
            <li class="header__list-item">
                <a href="">What We Do</a>
            </li>
            <li class="header__list-item">
                <a href="">Service</a>
            </li>
            <li class="header__list-item">
                <a href="">Project</a>
            </li>
            <li class="header__list-item">
                <a href="">Blog</a>
            </li>
            <li class="header__list-item">
                <a href="">Contact</a>
            </li>
        </ul>
    </nav>
</header>