<section class="hero" id="whatWeDo">
    <div class="hero__text-content">
        <h1 class="hero__title">A Digital Product Agency</h1>
        <p class="hero__description">
            Leading digital agency with solid design and development expertise.
            We build readymade websites, mobile applications,
            and elaborate online business services.
        </p>
        <button type="button" class="hero__contact-button">Contact Now</button>
    </div>
    <div class="hero__image-container">
        <img 
            srcset="./images/jpg/hero-image.jpg 1x, ./images/jpg/hero-image@2x.jpg 2x"
            src="./images/jpg/hero-image.jpg"
            alt="meeting at the office" 
            class="hero__image" 
        />
    </div>
</section>