<section class="project">
    <div class="project__vid-container">
        <img 
            src="./images/jpg/project-video-cover.jpg" 
            alt="meeting at the office" 
            class="project__vid"
        />
        <button type="button" class="project__button">
            <img 
                src="./images/jpg/play-button.png" 
                alt="play" 
            />
        </button>
    </div>
    <div class="project__content-container">
        <h2 class="project__title">
            Great Digital Product Agency since 2016
        </h2>
        <p class="project__description">
            Our Business Plan is a written document describing a company's core business activites, Objectives, and how it plans to
            achieve its goals. Our goal is to provide our client high quality Product with modern idea accordingly their budgets and
            according thir reuirements.
        </p>
    </div>
</section>