<section class="reviews">
    <h2>
        What our happy client say
    </h2>
    <p>
        Several selected clients, who already believe in our service.
    </p>
    <div class="reviews_card">
        <img src="https://play-lh.googleusercontent.com/XVHP0sBKrRJYZq_dB1RalwSmx5TcYYRRfYMFO18jgNAnxHAIA1osxM55XHYTb3LpkV8"
            alt="man's portrait" />
        <h3>
            Matthew Paul
        </h3>
        <p>
            Perfect, very good job! Thank you for the amazing design and work. Really impressed with the high quality and quick
            turnaround time. Highly recommend.
        </p>
    </div>
    <img src="https://play-lh.googleusercontent.com/XVHP0sBKrRJYZq_dB1RalwSmx5TcYYRRfYMFO18jgNAnxHAIA1osxM55XHYTb3LpkV8"
            alt="photos of people" />
</section>