<section class="reviews">
    <h2 class="reviews__title">
        What our happy clients say
    </h2>
    <p class="reviews__description">
        Several selected clients, who already believe in our service.
    </p>
    <div class="reviews__card">
        <div class="reviews__photo-container">
            <img 
                src="./images/jpg/man-2.jpg"
                alt="man's portrait" 
                class="reviews__photo"
            />
        </div>
        <div class="review">
            <h3 class="review__username">
                Matthew Paul
            </h3>
            <p class="review__text">
                Perfect, very good job! Thank you for the amazing design and work. Really impressed with the high quality and quick
                turnaround time. Highly recommend.
            </p>
        </div>
        <div class="reviews__img-container">
            <img 
                src="./images/jpg/group.png"
                alt="photos of people" 
                class="reviews__img"
            />
        </div>
    </div>  
</section>