<section class="service">
    <div class="service__text-content">
        <h2 class="service__title">
            How can we help your Business ?
        </h2>
        <p class="service__description">
            We build readymade websites, mobile applications, and elaborate online business services.
        </p>
    </div>
    <ul class="service__list">
        <li class="service__list-item business-idea-card">
            <div class="service__icon-container business-idea">
                <svg width="74" height="74">
                    <use href="./images/icons.svg#icon-box-search"></use>
                </svg>
            </div>
            <h3 class="service__item-title">
                Business Idea Planning
            </h3>
            <p class="service__item-description">
                We present you a proposal and discuss niffty-gritty like
            </p>
        </li>
        <li class="service__list-item financing-plan-card">
            <div class="service__icon-container financing-plan">
                <svg width="74" height="74">
                    <use href="./images/icons.svg#icon-empty-wallet"></use>
                </svg>
            </div>
            <h3 class="service__item-title">
                Financial Planning System
            </h3>
            <p class="service__item-description">
                Protocols apart from aengage models, pricing billing
            </p>
        </li>
        <li class="service__list-item website-development-card">
            <div class="service__icon-container website-development">
                <svg width="74" height="74">
                    <use href="./images/icons.svg#icon-code"></use>
                </svg>
            </div>
            <h3 class="service__item-title">
                Development Website and App
            </h3>
            <p class="service__item-description">
                Communication protocols apart from engagement models
            </p>
        </li>
        <li class="service__list-item market-analysis-card">
            <div class="service__icon-container market-analysis">
                <svg width="74" height="74">
                    <use href="./images/icons.svg#icon-chart-square"></use>
                </svg>
            </div>
            <h3 class="service__item-title">
                Market Analysis Project
            </h3>
            <p class="service__item-description">
                Protocols apart from aengage models, pricing billing
            </p>
        </li>
    </ul>
</section>