<section class="service">
    <h2>
        How can we help your Business ?
    </h2>
    <p>
        We build readymade websites, mobile applications, and elaborate online business services.
    </p>
    <ul>
        <li>
            <div class="service_icon-container">
                <svg>
                    <use></use>
                </svg>
            </div>
            <h3>
                Business Idea Planning
            </h3>
            <p>
                We present you a proposal and discuss niffty-gritty like
            </p>
        </li>
        <li>
            <div class="service_icon-container">
                <svg>
                    <use></use>
                </svg>
            </div>
            <h3>
                Financial Planning System
            </h3>
            <p>
                Protocols apart from aengage models, pricing billing
            </p>
        </li>
        <li>
            <div class="service_icon-container">
                <svg>
                    <use></use>
                </svg>
            </div>
            <h3>
                Development Website and App
            </h3>
            <p>
                Communication protocols apart from engagement models
            </p>
        </li>
        <li>
            <div class="service_icon-container">
                <svg>
                    <use></use>
                </svg>
            </div>
            <h3>
                Market Analysis Project
            </h3>
            <p>
                Protocols apart from aengage models, pricing billing
            </p>
        </li>
    </ul>
</section>