<section class="subscription" id="blog">
    <div class="subscription__container">
        <div class="subscription__content">
            <h2 class="subscription__title">
                Subscribe to Newsletter
            </h2>
            <p class="subscription__description">
                I will update good news and promotion service not spam
            </p>
        </div>
        <form action="submit" class="subscription__form">
            <input 
                type="email" 
                name="email" 
                id="email" 
                class="subscription__input" 
                placeholder="Enter your email address..." 
                required
            />
            <button type="submit" class="subscription__button">Subscribe</button>
        </form>
    </div>
</section>