.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    overflow: auto;

    visibility: visible;
    opacity: 1;

    width: 100vw;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.25);

    transition: opacity 500ms $transition-behavior,
        transform 500ms $transition-behavior;

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: scale(1.2);
    
        transition: opacity 500ms $transition-behavior,
            transform 500ms $transition-behavior,
            visibility 500ms $transition-behavior;
    }
}

.contact-modal {
    position: absolute;
    left: 50%;
    // top: 40px;
    // transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);

    // max-width: 450px;
    width: 100%;
    max-width: 600px;

    padding: 30px;

    border-radius: 30px;

    background-color: $background-color;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.35);

    // @media screen and (max-height: 610px) and (orientation: landscape) {
    //     top: 20px;
    // }

    // @include tablet {
    //     top: 80px;
    //     max-width: 800px;
    // }
    
    // @include desktop {
    //     top: 50%;
    //     transform: translate(-50%, -50%);
    //     max-width: 1200px;
    // }

    &::before {
        content: '';

        position: absolute;
        top: 142px;
        right: 170px;

        width: 130px;
        height: 130px;

        border-radius: 50%;

        background-color: $background-yellow;
        z-index: -1;
    }

    &::after {
        content: '';

        position: absolute;
        top: 122px;
        right: 40px;

        width: 175px;
        height: 154px;

        background-image: url('../images/jpg/dot-bg.png');
        z-index: -1;
    }
}

.contact-modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    width: 38px;
    height: 38px;

    background-color: transparent;
    border: none;

    &:hover, &:focus {
        transform: none;
    }
}

.contact-modal__close-icon {
    stroke: $accent-color;

    transition: stroke $transition-time $transition-behavior;

    .contact-modal__close-btn:hover &, 
    .contact-modal__close-btn:focus & {
        stroke: $background-rose;
    }
}

.contact-modal-opened {
    overflow: hidden;
    touch-action: none;
}

.contact-modal__form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-bottom: 10px;
}

.contact-modal__input {
    border: 1px solid $light-text;
    width: 270px;
    padding: 10px 15px;

    border-radius: 60px;

    &::placeholder {
        color: #959595;
        font-size: 14px;
    }
}

.contact-modal__comment {
    border: 1px solid $light-text;

    padding: 20px 15px;

    border-radius: 25px;

    &::placeholder {
        color: #959595;
        font-size: 14px;
    }
}

.contact-modal__submit-btn {
    align-self: center;
    padding: 20px 40px;

    width: 150px;

    border-radius: 60px;
    border: 0.5px solid transparent;

    background-color: $accent-color;
    color: $accent-text-color;

    transition: color $transition-time $transition-behavior,
    background-color $transition-time $transition-behavior,
    border $transition-time $transition-behavior;

    &:hover,
    &:focus {
        background-color: $active-color;
        color: $accent-color;
        border: 0.5px solid $accent-color;
    }

    &::before {
        content: '';

        position: absolute;
        bottom: 68px;
        left: 50px;

        width: 130px;
        height: 130px;

        border-bottom-right-radius: 100px;

        background-color: $background-blue;
        z-index: -1;
    }
}