.up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 200;

    transform: rotate(270deg);

    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: shine 2s infinite;

    cursor: pointer;
}

.up__img {
    margin: 0;
}