.project {
    @extend %container;
    @extend %section;

    display: flex;
    gap: 120px;
    padding-bottom: 140px;
}

.project__vid-container {
    position: relative;
    z-index: 12;

    width: 550px;
    height: 372px;
    
    border-radius: 32px;

    pointer-events: none;

    &::after {
        content: '';

        position: absolute;
        bottom: -50px;
        right: -50px;
        z-index: 2;

        width: 129px;
        height: 129px;

        border-radius: 50%;

        background-color: $background-yellow;
    }
}

.project__vid {
    margin: 0;
    width: 100%;
    object-fit: cover;

    position: relative;
    z-index: 10;

    border-radius: 32px;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);

    pointer-events: auto;

    transition: transform $transition-time $transition-behavior;

    &:hover,
    &:focus {
        transform: scale(1.07);
    }
}

.project__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    .project__vid-container:hover &,
    &:hover {
        animation: pulse 2s infinite;
    }
}

.project__content-container {
    max-width: 540px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project__title {
    @extend %title;

    position: relative;
    z-index: 10;

    &::before {
        content: '';

        position: absolute;
        top: -24px;
        left: -39px;
        z-index: -1;

        width: 178px;
        height: 178px;

        border-bottom-right-radius: 100px;

        background-color: $background-purple;
    }
}

.project__description {
    position: relative;
    z-index: 10;

    color: $main-text-color;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}